<app-tabs (closeTab)="removeCondition($event)" [tabs]="tabs"></app-tabs>

<div *ngFor="let location of currentConditionsByZip(); trackBy: trackByZip">
    <ng-template #locationTemplate>
        <div class="well" (click)="showForecast(location.zip)">
            <app-current-condition
                    [location]="location"
                    [srcUrl]="weatherFacade.getWeatherIcon(location.data.weather[0].id) | async">
            </app-current-condition>
        </div>
    </ng-template>
</div>
<ng-container *ngIf="!currentConditionsByZip().length">
    <hr/>
    <div class="no-records">{{ 'No records!' }}</div>
</ng-container>
